@charset "UTF-8";
/* CSS Document */

<style type="text/css" >

.logo {
  font-size: 20pt;
  color: #eee;
}

.text {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  color: #555;
  width: 605px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 1.4
}

a {
  color: #222;
  font-size: 16pt;
  font-family: 'Jura', serif;
  font-weight: 600;
}

b {
  color: #222;
  font-size: 15pt;
  font-family: 'Jura', serif;
  font-weight: 600;
}

.title {
  color: #555;
  font-size: 20pt;
  font-family: 'Jura', serif;
  font-weight: 600;
}

.footnote {
  font-size: 14pt;
  font-family: 'Jura', serif;
}

.red {
  color: #B5121B;
  font-weight: 600;
}

.grey {
    color: #555;
  font-weight: 400;
}

a:visited {
    color: #222;
    text-decoration: none;
}
a:link {
    text-decoration: none;
    background-color:#fffff;
}
a:hover {
    text-decoration: none;
    color: #D7846D;
}
a:active {
    text-decoration: none;
}

body p {
	font-family: Verdana, Geneva, sans-serif;
}
body,td,th {
	font-size: 12px;
	color: #666;
}
body img { 
    border:hidden;
}
body {
	margin-left: 20px;
	margin-top: 10px;
}
div.banner_title {
	font-family: Papyrus;
	font-size: 36px;
	font-style: normal;
}
div.menu_bar {
	font-family: Papyrus;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #666;
	font-size: small;
    width : 550px;
}
body {
	text-align : left;
	min-width : #666;
	font-size: 10px;
}
div.wrapper {
	width : 550px;
	text-align : left;
	margin-left : 0;
	margin-right : auto;
	position : relative;
	color: #666;
	font-size: small;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.logo {
  font-size: 24pt;
  color: #eee;
}

.prose {
  font-family: 'Linden Hill', serif;
  font-weight: 400;
  font-size: 14pt;
  color: #111;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 1.4
}


</style>
