@charset "UTF-8";
/* CSS Document */

<style type="text/css" >
.logo {
  font-size: 20pt;
  color: #eee;
}
.text {
  font-family: 'Linden Hill', serif;
  font-size: 18pt;
  color: #aaa;
  width: 595px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

a {
  color: #222;
  font-size: 18pt;
}

a:visited {
    color: #222;
    text-decoration: none;
}
a:link {
    text-decoration: none;
    background-color:#fffff;
}
a:hover {
    text-decoration: none;
    color: rgba(255, 0, 0, 0.99);
}
a:active {
    text-decoration: none;
}

body p {
	font-family: Verdana, Geneva, sans-serif;
}
body,td,th {
	font-size: 12px;
	color: #666;
}
body img { 
    border:hidden;
}
body {
	margin-left: 20px;
	margin-top: 10px;
}
div.banner_title {
	font-family: Papyrus;
	font-size: 36px;
	font-style: normal;
}
div.menu_bar {
	font-family: Papyrus;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #666;
	font-size: small;
    width : 550px;
}
body {
	text-align : left;
	min-width : #666;
	font-size: 10px;
}
div.wrapper {
	width : 550px;
	text-align : left;
	margin-left : 0;
	margin-right : auto;
	position : relative;
	color: #666;
	font-size: small;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.logo {
  font-size: 24pt;
  color: #eee;
}

</style>
